<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load static %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/rutas-entrantes-lib.js' %}"></script>
    <script src="{% static 'ominicontacto/JS/ruta-entrante.js' %}"></script>
{% endblock %}
{% block head_js %}
    <script type="text/javascript">
     $(function() {
       $('#id_detectar_contestadores').change(actualizarEstadoDeSelectorDeAudios);
       actualizarEstadoDeSelectorDeAudios();
     });

     function actualizarEstadoDeSelectorDeAudios(){
       var detectar = $('#id_detectar_contestadores').prop("checked");
       if (!detectar){
         $('#id_audio_para_contestadores').val('');
       }
       $('#id_audio_para_contestadores').prop("disabled", !detectar);
     };

    </script>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Dialer: Datos de Cola' %}</h1>

    <ul class="nav nav-indicators">
        <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
        <li class="active"><a>{% trans 'Cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        {% if interaccion_crm %}
            <li class="disabled"><a>{% trans 'Interacción con Sitio Externo' %}</a></li>
        {% endif %}
        {% if not form.instance.campana %}
            <li class="disabled"><a>{% trans 'Actuacion' %}</a></li>
            <li class="disabled"><a>{% trans 'Reglas Incidencias' %}</a></li>
            {% if not es_template %}
                <li class="disabled"><a>{% trans 'Dar permiso a supervisores' %}</a></li>
                <li class="disabled"><a>{% trans 'Adicionar agentes' %}</a></li>
                <li class="disabled"><a>{% trans 'Sincronizar' %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {% if object.name %}
            <p>{% trans 'Modificar datos de la cola' %}<strong>{{ object.name }}</strong></p>
        {% endif %}
        {{ form.non_field_errors }}
        {{ form.campana }} {{form.name }}
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ form.maxlen.id_for_label }}">{% trans 'Cantidad Max de llamadas:' %}</label>
                {{ form.maxlen }}
                {{ form.maxlen.errors }}
            </div>
            <div class="col-md-6" title="{% trans 'Se recomienda un valor mayor o igual a 2' %}">
                <label for="{{ form.wrapuptime.id_for_label }}">{% trans 'Tiempo de descanso entre llamadas:' %}</label>
                {{ form.wrapuptime }}
                {{ form.wrapuptime.errors }}
                <small class="form-text text-muted">
                    {{ form.wrapuptime.help_text }}
                </small>
            </div>
            <div class="col-md-6">
                <label for="{{ form.servicelevel.id_for_label }}">{% trans 'Nivel de Servicio:' %}</label>
                {{ form.servicelevel }}
                {{ form.servicelevel.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.strategy.id_for_label }}">{% trans 'Estrategia de distribución:' %}</label>
                {{ form.strategy }}
                {{ form.strategy.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.weight.id_for_label }}">{% trans 'Importancia de de campaña:' %}</label>
                {{ form.weight }}
                {{ form.weight.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.wait.id_for_label }}">{% trans 'Tiempo de espera en cola:' %}</label>
                {{ form.wait }}
                {{ form.wait.errors }}
                <small class="form-text text-muted">
                    {{ form.wait.help_text }}
                </small>
            </div>
            <div class="col-md-6">
                <label for="{{ form.auto_grabacion.id_for_label }}">{% trans 'Grabar llamados:' %}</label>
                {{ form.auto_grabacion }}
                {{ form.auto_grabacion.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.detectar_contestadores.id_for_label }}">{% trans 'Detectar contestadores:' %}</label>
                {{ form.detectar_contestadores }}
                {{ form.detectar_contestadores.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.audio_para_contestadores.id_for_label }}">{% trans 'Audio para contestadores:' %}</label>
                {{ form.audio_para_contestadores }}
                {{ form.audio_para_contestadores.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.initial_predictive_model.id_for_label }}">{% trans 'Activar predictividad:' %}</label>
                {{ form.initial_predictive_model }}
                {{ form.initial_predictive_model.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.initial_boost_factor.id_for_label }}">{% trans 'Factor de boost inicial:' %}</label>
                {{ form.initial_boost_factor }}
                {{ form.initial_boost_factor.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.dial_timeout.id_for_label }}">{% trans 'Dial timeout:' %}</label>
                {{ form.dial_timeout }}
                <small class="form-text text-muted">
                    {{ form.dial_timeout.help_text }}
                </small>
                {{ form.dial_timeout.errors }}
            </div>
            <div class="col-md-6">
                <label >{% trans 'Destino en caso de timeout' %}</label>
                <div class="col-md-12">
                    <label for="{{ form.tipo_destino.id_for_label }}">{% trans 'Tipo destino:' %}</label>
                    {{ form.tipo_destino }}
                    {{ form.tipo_destino.errors }}
                </div>
                <div class="col-md-12">
                    <label for="{{ form.destino.id_for_label }}">{% trans 'Destino:' %}</label>
                    {{ form.destino }}
                    {{ form.destino.errors }}
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
