<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/parametros_crm_sitio_externo.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript">
     $('.linkFormset').formset({
       addText: AGREGAR_PARAMETRO,
       deleteText: REMOVER_CAMPO,
       prefix: '{{ wizard.form.prefix }}',
       addCssClass: 'addFormset btn btn-outline-primary',
       deleteCssClass: 'deleteFormset btn btn-outline-danger',
     });
    </script>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Manual: Parámetros extra para web form' %}</h1>

    <ul class="nav nav-indicators">
      <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
      <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
      <li class="active"><a>{% trans 'Interacción con Sitio Externo' %}</a></li>
      {% if not es_template and create %}
          <li class="disabled"><a>{% trans 'Dar permiso a supervisores' %}</a></li>
          <li class="disabled"><a>{% trans 'Adicionar agentes' %}</a></li>
      {% endif %}
    </ul>
{% endblock %}
