<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/agentes-externos.css' %}"></link>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript">
     /* adiciona plugin 'jquery.formset.js' para generar forms dinamicamente
        en un formset  */
     $('.agentes').formset({
       addText: AGREGAR_AGENTE,
       deleteText: REMOVER_CAMPO,
       prefix: '{{ agente_en_sistema_externo_formset.prefix }}',
       addCssClass: 'btn btn-outline-primary agentes',
       deleteCssClass: 'btn btn-outline-danger agentes',
       formCssClass: 'dynamic-formset1',
     });
    </script>
{% endblock %}

{% block content %}

    {% block header %}{% endblock %}

    <form action="" role="form" method="POST">
        {% include "base_form_fields.html" with form=form %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>{% trans 'Agentes' %}</h3>
                <table class="form-control" id="myFormset1Table">
                    <tbody>
                        {% if agente_en_sistema_externo_formset.non_form_errors %}
                            {% for error in agente_en_sistema_externo_formset.non_form_errors %}
                                <div class="alert alert-warning">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                        {% for agente_en_sistema_externo_form in agente_en_sistema_externo_formset.forms %}
                            <tr class="agentes">
                                <td>
                                    {% if agente_en_sistema_externo_form.instance.pk %}
                                        {{ agente_en_sistema_externo_form.DELETE }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ agente_en_sistema_externo_form.agente.label_tag }}
                                    {{ agente_en_sistema_externo_form.agente.errors }}
                                    {{ agente_en_sistema_externo_form.agente|add_class:"form-control" }}
                                </td>
                                <td>
                                    {{ agente_en_sistema_externo_form.id_externo_agente.label_tag }}
                                    {{ agente_en_sistema_externo_form.id_externo_agente.errors }}
                                    {{ agente_en_sistema_externo_form.id_externo_agente|add_class:"form-control" }}
                                </td>
                                <td>
                                    {% if agente_en_sistema_externo_form.instance.pk %}
                                        {{ agente_en_sistema_externo_form.id }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        {{ agente_en_sistema_externo_formset.management_form }}
        <button type="submit" id="id_registrar" class="btn btn-primary">
            {% trans 'Guardar' %}
        </button>
    </form>
{% endblock %}
